<ul class='nav nav-pills nav-fill'>
  <a class='nav-link disabled' aria-disabled="true"><i class="bi bi-capsule-pill"></i>&nbsp;&nbsp;&nbsp;Medicine Cabinet</a>
  <a class='nav-link' routerLinkActive='active' routerLink='/welcome'><i class="bi bi-house"></i>&nbsp;&nbsp;Home</a>
  <a class='nav-link' routerLinkActive='active' routerLink='/medicines'><i class="bi bi-list"></i>&nbsp;&nbsp;Medicine List</a>
  <a class='nav-link' routerLinkActive='active' routerLink='/medicines/0/edit'><i class="bi bi-file-plus"></i>&nbsp;&nbsp;Create Medicine</a>
</ul>
<br>
<br>
<br>
<div class="container">
<router-outlet></router-outlet>
</div>
